[Unit]
 Description=Collectd container
 Requires=docker.service
 After=docker.service

[Service]
 User=root
 Restart=on-failure
 RestartSec=45
 ExecStart=/usr/bin/docker start -a collectd
 ExecStop=/usr/bin/docker stop -t 2 collectd

[Install]
 WantedBy=multi-user.target
