[Unit]
Description=Drive Temps
Requires=influxdb.service
After=influxdb.service

[Service]
Type=simple
User=root
ExecStart=/bin/bash -x /home/hammer/scripts/freenas/drivetemps.sh

[Install]
WantedBy=default.target