[Unit]
Description=ESXi Stats
Requires=influxdb.service
After=influxdb.service

[Service]
Type=simple
User=<username>
ExecStart=/bin/bash -x /home/<username>/scripts/esxi/esxi.sh

[Install]
WantedBy=default.target
