[Unit]
Description=Ping Check
Requires=influxdb.service
After=influxdb.service

[Service]
Type=simple
User=root
ExecStart=/bin/bash -x /home/hammer/scripts/pfsense/ping.sh

[Install]
WantedBy=default.target 