[Unit]
Description=ESXi Stats
Requires=influxdb.service
After=influxdb.service

[Service]
Type=simple
User=root
ExecStart=/bin/bash -x /home/hammer/scripts/esxi/esxi.sh

[Install]
WantedBy=default.target